:root {
  --foreground: #4f5258;
  --background: #ebeef5;
  --outline: #9b9ea4;
  --highlight: #c4c6cd;
  --dim: #4f5258;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #c4c6cd;
    --background: #0a0b10;
    --outline: #4f5258;
    --highlight: #2c2e33;
    --dim: #9b9ea4;
  }
}

body {
  font-family: sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  line-height: 1.6;
  letter-spacing: 0.04rem;
  max-width: 60ch;
  min-height: 100vh;
  margin: auto;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 1rem 1.5rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-grow: 1;
}

a {
  color: var(--foreground);
  text-decoration-color: var(--outline);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

ul,
ol {
  padding-left: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.projects article {
  border: 2px solid var(--outline);
  padding: 0 1.5rem 0.5rem 1.5rem;
}

.links {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  column-gap: 1.5rem;
}

.content-list ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

header h2 {
  margin-bottom: 0;
}

header p {
  margin: 0.5rem 0 2rem 0;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}

td,
th {
  border: 2px solid var(--outline);
  padding: 0.4rem 0.8rem;
}

blockquote {
  margin-left: 0.5rem;
  padding-left: 1rem;
  border-left: 3px solid var(--outline);
  color: var(--dim);
}

code:not(pre code) {
  border: 1px solid var(--outline);
  padding: 0.1rem 0.3rem;
}

pre {
  overflow-x: auto;
  border: 1px solid var(--outline);
  padding: 1rem;
}

hr {
  border-color: var(--outline);
  margin-block: 2.5rem;
}

footer {
  font-size: 0.8rem;
  margin-top: 2rem;
  text-align: center;
}

.line .ln {
  user-select: none;
  margin-right: 0.8rem;
}

.line [class^="k"] {
  font-weight: 700;
}

.line.hl {
  background-color: var(--highlight);
}

.line .cm,
.line .c1 {
  color: var(--dim);
}
