:root {
  --foreground: #212121;
  --background: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f6f6f6;
    --background: #212121;
  }
}

body {
  font: 16px/1.6 sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}

nav {
  margin-block: 0.5rem 1.5rem;
}

a {
  color: var(--foreground);
}

header h2 {
  margin-bottom: 0;
}

header time {
  display: block;
  margin-block: 0.3rem 1.5rem;
}

section:nth-of-type(2) {
  margin-top: 3rem;
}

img {
  max-width: 100%;
}

table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}

td,
th {
  border: 2px solid var(--foreground);
  padding: 0.5rem;
}

blockquote {
  padding-left: 1rem;
  border-left: 3px solid var(--foreground);
  margin-left: 0;
}

code:not(pre code) {
  border: 1px solid var(--foreground);
  padding-inline: 0.2rem;
  font-size: 0.9rem;
}

pre {
  overflow-x: auto;
  border: 2px solid var(--foreground);
  padding: 1rem;
}

footer {
  font-size: 0.8rem;
  margin-top: 2rem;
}
