{{ define "main" }}
<section class="content-list">
  {{- if eq .Title (title .Data.Term) }}
  <h2>Tag: {{ .Data.Term }}</h2>
  {{- else }}
  <h2>{{ .Title }}</h2>
  {{- end }}

  <ul>
    {{- if eq .Page .Site.Taxonomies.tags.Page }}
    {{- range .Site.Taxonomies.tags }}
    <li>
      <a href="{{ .Page.RelPermalink }}">{{ .Page.Data.Term }} ({{ .Count }})</a>
    </li>
    {{- end }}
    {{- else }}
    {{- range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a> -
      {{ .Date.Format "January 2, 2006" }}
    </li>
    {{- end }}
    {{- end }}
  </ul>
</section>
{{ end }}
